JAXB/xsd_to_java/xsd_orig/accordo_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Colli">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Esito">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Merce">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NumeroContenitore"/>
				<xs:element ref="Colli"/>
				<xs:element ref="CodiceMerce"/>
				<xs:element ref="MassaLorda"/>
				<xs:element ref="MassaNetta"/>
				<xs:element ref="UnitaSupplementari"/>
				<xs:element ref="Prezzo"/>
				<xs:element ref="NumeroFatture"/>
				<xs:element ref="ValoreStatistico"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Merci">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Merce"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Azioni">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Moneta">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Prezzo">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Accordo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DatiComunicazioneIniziali"/>
				<xs:element ref="Messaggi"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Importo">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Messaggi">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Messaggio"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ThreadId">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodiceMRN">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Messaggio">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="IdMessaggioOrigine"/>
				<xs:element ref="IdMessaggio"/>
				<xs:element ref="Esito"/>
				<xs:element ref="Azioni"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MassaLorda">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="MassaNetta">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodiceMerce">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdMessaggio">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="TassoCambio">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Destinatario">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroFatture">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataEsportazione">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValoreStatistico">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumeroContenitore">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="CondizioniConsegna">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdMessaggioOrigine">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="UnitaSupplementari">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpeditoreEsportatore">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="MetodoTrasportoFrontiera">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatiComunicazioneIniziali">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ThreadId"/>
				<xs:element ref="CodiceMRN"/>
				<xs:element ref="Messaggio"/>
				<xs:element ref="Esito"/>
				<xs:element ref="Azioni"/>
				<xs:element ref="DataEsportazione"/>
				<xs:element ref="SpeditoreEsportatore"/>
				<xs:element ref="Destinatario"/>
				<xs:element ref="IdentitaMezzoTrasportoPartenza"/>
				<xs:element ref="NazionalitaMezzoTrasportoPartenza"/>
				<xs:element ref="CondizioniConsegna"/>
				<xs:element ref="Moneta"/>
				<xs:element ref="Importo"/>
				<xs:element ref="TassoCambio"/>
				<xs:element ref="MetodoTrasportoFrontiera"/>
				<xs:element ref="Merci"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdentitaMezzoTrasportoPartenza">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="NazionalitaMezzoTrasportoPartenza">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
</xs:schema>
